* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  display: block; }

input {
  outline: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearFix:after {
  content: "";
  display: block;
  clear: both; }

.clearFix {
  zoom: 1; }

body, html {
  width: 100%; }

body {
  background: #0f1014; }

.wraper .canv{position: fixed; top: 0; left: 0;z-index:0;}
.wraper {
  margin: 0 50px;
  font-family: \5FAE\8F6F\96C5\9ED1; }
  .wraper .project {
    position: fixed;
    color: #fff;
    font-weight: 200;
    top: 27px;
    left: 32px;
    font-family: \5FAE\8F6F\96C5\9ED1; }
  .wraper ul {
    padding-top: 60px; }
    .wraper ul li {
      width: 100%;
      height: 460px;
      display: block;
      text-align: center;
      margin-top: 8%;
      margin-bottom: 8%; }
      .wraper ul li .one {
        width: 1000px;
        height: 450px;
        top: 70px;
        opacity: 1;
        display: inline-block;
        text-align: left;
        cursor: default;
        position: relative;
        transition: 500ms all ease; }
        .wraper ul li .one .word {
          display: block;
          width: 550px;
          height: 450px;
          cursor: pointer;
          position: absolute;
          z-index: 2;
          margin-top: 75px; }
          .wraper ul li .one .word .time {
            color: #4c4c4c;
            font-size: 20px;
            font-weight: 300;
            display: block;
            margin-bottom: 10px; }
          .wraper ul li .one .word .title {
            padding-top: 20px;
            height: 64px;
            color: #fff;
            font-size: 44px;
            position: absolute;
            height: 290px;
            transition: 500ms all ease;
            display: block; }
            .wraper ul li .one .word .title .biaoti {
              display: block;
              height: 80px;
              font-weight: 400; }
            .wraper ul li .one .word .title .cont {
              display: block;
              font-size: 14px;
              height: 30px;
              color: #999; }
        .wraper ul li .one .img {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          width: 780px;
          height: 450px;
          cursor: pointer;
          overflow: hidden;
          background: #000; }
          .wraper ul li .one .img .imgbg {
            width: 800px;
            opacity: 0.6;
            height: 100%;
            background: goldenrod;
            transition: 500ms all ease; }

.one:hover .word .title {
  margin-left: 20px; }

.one:hover .img .imgbg {
  margin-left: -20px; }
